.section{
    width: 49%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border: 2px solid #8FE858;
    text-align: justify;
}

.section-small{
    width: 32%;
    margin-bottom: 10px;
    padding: 15px 10px;
    border: 2px solid #8FE858;
    text-align: justify;
}

.caption{
    text-align: center;
    color: #E99E47;
    margin-bottom: 20px;
}

li{
    margin-left: 10%;
    padding: 10px 0;
}

.container-tec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.widge{
    display: flex;
}
.icon-barras{
    height: 25px;
    margin: 8.5px;
}
h4{
    float: left;
    padding: 10px;
}

.icon-social{
    height: 30px;
    margin: 9.5px;
    float: left;
}